.custom-template {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: -325px;
    width: 325px;
    height: max-content;
    display: block;
    z-index: 1;
    background: #ffffff;
    transition: all .3s;
    z-index: 1003;
    box-shadow: -1px 1px 20px rgba(69, 65, 78, 0.15);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: all .5s;
}

.custom-template.open {
    right: 0px;
}

.custom-template .custom-toggle {
    position: absolute;
    width: 45px;
    height: 45px;
    background: rgb(88, 103, 221);
    top: 50%;
    left: -45px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 1px solid #177dff;
    cursor: pointer;
    color: #ffffff;
    box-shadow: -5px 5px 20px rgba(69, 65, 78, 0.21);
}

.custom-template .custom-toggle i {
    font-size: 20px;
    animation: 1.3s spin linear infinite;
}

.custom-template .title {
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-top-left-radius: 5px;
    border-bottom: 1px solid #ebedf2;
    background: #5867dd;
}

.custom-template .custom-content {
    padding: 20px 15px;
    max-height: calc(100vh - 90px);
    overflow: auto;
}

.custom-template .switcher {
    padding: 5px 0;
}

.custom-template .switch-block h4 {
    font-size: 13px;
    font-weight: 600;
    color: #444;
    line-height: 1.3;
    margin-bottom: 0;
    text-transform: uppercase;
}

.custom-template .btnSwitch {
    margin-top: 20px;
    margin-bottom: 25px;
}

.custom-template .btnSwitch button {
    border: 0px;
    height: 20px;
    width: 20px;
    outline: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 0;
    border-radius: 50%;
    border: 2px solid #eee;
    position: relative;
    transition: all .2s;
}

.custom-template .btnSwitch button:hover {
    border-color: #0bf;
}

.custom-template .btnSwitch button.selected {
    border-color: #0bf;
}

.custom-template .img-pick {
    padding: 4px;
    min-height: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-template .img-pick img {
    height: 100%;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid transparent;
}

.custom-template .img-pick:hover img,
.custom-template .img-pick.active img {
    border-color: #177dff;
}

.demo .btn,
.demo .progress {
    margin-bottom: 15px !important;
}

.demo .form-check-label,
.demo .form-radio-label {
    margin-right: 15px;
}

.demo .toggle,
.demo .btn-group {
    margin-right: 15px;
}

.demo #slider {
    margin-bottom: 15px;
}

.table-typo tbody>tr>td {
    border-color: #fafafa;
}

.table-typo tbody>tr>td:first-child {
    min-width: 200px;
    vertical-align: bottom;
}

.table-typo tbody>tr>td:first-child p {
    font-size: 14px;
    color: #333;
}

.demo-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    transition: all .2s;
}

.demo-icon:hover {
    background-color: #f4f5f8;
    border-radius: 3px;
}

.demo-icon .icon-preview {
    font-size: 1.8rem;
    margin-right: 10px;
    line-height: 1;
    color: #333439;
}

body[data-background-color="dark"] .demo-icon .icon-preview {
    color: #969696;
}

.demo-icon .icon-class {
    font-weight: 300;
    font-size: 13px;
    color: #777;
}

body[data-background-color="dark"] .demo-icon .icon-class {
    color: #a9a8a8;
}

.form-show-notify .form-control {
    margin-bottom: 15px;
}

.form-show-notify label {
    padding-top: 0.65rem;
}

.map-demo {
    height: 300px;
}

#instructions li {
    padding: 5px 0;
}

.row-demo-grid {
    margin-bottom: 15px;
}

.row-demo-grid [class^="col"] {
    text-align: center;
}

.row-demo-grid [class^="col"] .card-body {
    background: #ddd;
}

.btnSwitch button[data-color="white"] {
    background-color: #fff;
}

.btnSwitch button[data-color="grey"] {
    background-color: #f1f1f1;
}

.btnSwitch button[data-color="black"] {
    background-color: #191919;
}

.btnSwitch button[data-color="dark"] {
    background-color: #1a2035;
}

.btnSwitch button[data-color="blue"] {
    background-color: #1572E8;
}

.btnSwitch button[data-color="purple"] {
    background-color: #6861CE;
}

.btnSwitch button[data-color="light-blue"] {
    background-color: #48ABF7;
}

.btnSwitch button[data-color="green"] {
    background-color: #31CE36;
}

.btnSwitch button[data-color="orange"] {
    background-color: #FFAD46;
}

.btnSwitch button[data-color="red"] {
    background-color: #F25961;
}

.btnSwitch button[data-color="dark2"] {
    background-color: #1f283e;
}

.btnSwitch button[data-color="blue2"] {
    background-color: #1269DB;
}

.btnSwitch button[data-color="purple2"] {
    background-color: #5C55BF;
}

.btnSwitch button[data-color="light-blue2"] {
    background-color: #3697E1;
}

.btnSwitch button[data-color="green2"] {
    background-color: #2BB930;
}

.btnSwitch button[data-color="orange2"] {
    background-color: #FF9E27;
}

.btnSwitch button[data-color="red2"] {
    background-color: #EA4d56;
}

.btnSwitch button[data-color="bg1"] {
    background-color: #fafafa;
}

.btnSwitch button[data-color="bg2"] {
    background-color: #fff;
}

.btnSwitch button[data-color="bg3"] {
    background-color: #f1f1f1;
}

@media screen and (max-width: 550px) {
    .table-typo tr td {
        display: flex;
        align-items: center;
        word-break: break-word;
    }
    .table-typo tr td:first-child p {
        margin-bottom: 0px;
    }
    #openWin {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .custom-template .custom-content {
        overflow: auto;
    }
    .form-show-notify>.text-right,
    .form-show-validation>.text-right {
        text-align: left !important;
    }
    #openWin {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .custom-template {
        width: 85% !important;
        right: -85%;
    }
    #openWin {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    #openWin {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #openWin {
        display: none;
    }
}


/* @media screen and (max-width: 1024px) {
    #openWin{
        display:none;
    }
} */


/* //------------- select2 ------------------// */

.select2 {
    width: 100% !important;
}

.select2-selection {
    border-color: #ebedf2 !important;
}

.select2.select2-container {
    width: 100% !important;
}

.select2.select2-container .select2-selection {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 34px;
    margin-bottom: 15px;
    outline: none;
    transition: all 0.15s ease-in-out;
}

.select2.select2-container .select2-selection .select2-selection__rendered {
    color: #333;
    line-height: 32px;
    padding-right: 33px;
}

.select2.select2-container .select2-selection .select2-selection__arrow {
    background: #f8f8f8;
    border-left: 1px solid #ccc;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 32px;
    width: 33px;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
    background: #f8f8f8;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}

.select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    border: 1px solid #34495e;
}

.select2.select2-container.select2-container--focus .select2-selection {
    border: 1px solid #34495e;
}

.select2.select2-container .select2-selection--multiple {
    height: auto;
    min-height: 34px;
}

.select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin-top: 0;
    height: 32px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 0 4px;
    line-height: 29px;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 4px 4px 0 0;
    padding: 0 6px 0 22px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: relative;
}

.select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    margin: 0;
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
    font-size: 16px;
}

.select2-container .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -5px;
}

.select2-container .select2-dropdown .select2-search {
    padding: 0;
}

.select2-container .select2-dropdown .select2-search input {
    outline: none;
    border: 1px solid #34495e;
    border-bottom: none;
    padding: 4px 6px;
}

.select2-container .select2-dropdown .select2-results {
    padding: 0;
}

.select2-container .select2-dropdown .select2-results ul {
    background: #fff;
    border: 1px solid #34495e;
}

.select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: #3498db;
}

.big-drop {
    width: 600px !important;
}


/* -------------------------------- */


/* .custom-radio {
    display: none;
}

.custom-radio+label {
    font-weight: normal;
    cursor: pointer;
}

.custom-radio+label span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    border: 1px solid #2196F3;
}

.custom-radio+label span::before {
    content: "";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 9px;
    height: 9px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #2196F3;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.custom-radio:checked+label span::before {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.custom-radio:disabled+label {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

.custom-radio:disabled+label,
.custom-radio:disabled+label span {
    cursor: default;
}

.custom-checkbox {
    display: none;
}

.custom-checkbox+label {
    font-weight: normal;
    cursor: pointer;
}

.custom-checkbox+label span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: relative;
    border: 1px solid #009688;
}

.custom-checkbox+label span::before {
    content: "";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    width: 9px;
    height: 9px;
    background-color: #009688;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.custom-checkbox:checked+label span::before {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.custom-checkbox:disabled+label {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

.custom-checkbox:disabled+label,
.custom-checkbox:disabled+label span {
    cursor: default;
} */

.chkbx-toggle {
    display: none;
}

.chkbx-toggle+label {
    position: relative;
    cursor: pointer;
    outline: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    width: 40px;
    height: 20px;
    background-color: #e4e4e4;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}

.chkbx-toggle+label::before,
.chkbx-toggle+label::after {
    content: "";
    display: block;
    position: absolute;
}

.chkbx-toggle+label::before {
    right: 1px;
    left: 1px;
    top: 1px;
    bottom: 1px;
    background-color: #F1F1F1;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    transition: background 0.4s;
}

.chkbx-toggle+label::after {
    top: -1px;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

.chkbx-toggle:checked+label {
    background-color: #e68900;
}

.chkbx-toggle:checked+label::before {
    background-color: #FF9800;
}

.chkbx-toggle:checked+label::after {
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}

.chkbx-toggle:disabled+label {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    cursor: default;
}